<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" contents="text/html" charset="UTF-8" />
<title>
    {{ page.title }}
</title>
<link rel="stylesheet" type="text/css" href="/src/prettify.css">
<link rel="stylesheet" type="text/css" href="/src/style.css">

<script type="text/javascript" src="/src/prettify.js"></script>
<script type="text/javascript" src="/src/lang-tex.js"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            skipTags: ["script","noscript","style","textarea","code"],
            ignoreClass: ".*", 
            processClass: "latex"
        }
    });
    MathJax.Hub.Queue( function() {
        var all = MathJax.Hub.getAllJax(), i;
        for(i=0; i < all.length; i += 1) {
            all[i].SourceElement().parentNode.className += ' has-jax';
        }
    });
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
</head>
<body onload="prettyPrint()">

    <div class="wrap">
    <div class="title">
    <div class="links">
    <a href="/">Home</a>
    </div>
    <h1> {{ page.title }} </h1>
    </div>
    <div class="contents">

        {{ content }}

    </div>
    </div>
    <div id="bottom">
    &copy; 2012 <a href="mailto:thomasloven@gmail.com">Thomas Lovén</a>
    </div>
</body>
</html>
