---
layout: page
---


<div id="categories">
    <a href="/blog/">All</a>
    -
    <a href="/blog/latex/">LaTeX</a>
    -
    <a href="/blog/osdev/">OsDev</a>
{% if page.indexname != null %}
	{{ page.indexname }}
{% endif %}
</div>
<div class="content">
    <ol class="content-list">
        {% for post in site.posts %}
        {% if page.index == null or post.categories contains page.index %}
        <li class="content">
            <h3 class="postTitle"><a href="{{ post.url }}">{{ post.title }}</a></h3><p class="postDate">{{ post.date | date_to_string }}</p><p class="postSubTitle">{{ post.subtitle }}</p>
        </li>
        {% endif %}
        {% endfor %}
    </ol>
</div>
    {{ content }}
