@font-face {
    font-family: Averia;
    /*src: url('Averia-Regular.ttf');*/
  src: local('Averia Gruesa Libre'), local('AveriaGruesaLibre-Regular'), url(http://themes.googleusercontent.com/static/fonts/averiagruesalibre/v1/10vbZTOoN6T8D-nvDzwRF52VtiXDaDJux1YX1Y0t1wM.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}


html
{
    height: 100%;
}

body
{
    margin: 0;
    margin-top: 0;
    font-size: 18px;
    line-height: 25px;
    font-family: "Averia","Georgia", "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
		background: #002b36;
		background-color: #002b36;
}

html
{
	background-color: #002b36;
}


body #wrap {
    width: 712px;
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px;
    padding-top: 10px;
    border: 1px solid #000;
    border-top: 0px;
}

body #wrap #header {
    border-bottom: solid 1px black;
}

body #wrap #header::after {
    content:".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

body #wrap #header #title {
    float: left;
}

body #wrap #header #title h2 {
    margin: 0;
}

body #wrap #header #links {
    float: right;
}

body #bottom {
    margin: auto;
    width: 712px;
}

body #wrap #categories {
    border-bottom: solid 1px black;

}

em {
	color: #006;
}

a {
    color: #800;
    text-decoration: none;
    font-style: italic;
}

a.external {
	padding-right: 12px;
	background: url(/media/img/ico_external.gif) no-repeat 100% 50%;
}

cufontext:hover, a:hover {
    text-decoration: underline;
	color: green;
}

h1 {
    font-size: 45px;
    line-height 50px;
    margin: 25px, 0;
}

img {
    border: 1px solid #000;
}

img.left {
    float: left;
    margin-right: 10px;
}

img.right {
    float: right;
    margin-left: 10px;
}

#subtitle p {
    color: #666;
    margin-top: -22px;
    margin-bottom: 22px;
}


div pre {
    border: 1px solid #000;
    padding: 10px;
}

pre, pre.prettyprint {
	width: 80%;
    border: 1px solid #888;
    font-size: 14px;
    white-space: pre-wrap;
    line-height: 18px;
    padding: 5px;
    margin-right: 50px;
    margin-left: 50px;
}

code {
	font-size: 14px;
}

.content {
}

.content .contentItem {
    margin: auto;
    width: 400px;
    text-align: center;
    border-bottom: 1px solid black;
}

.content .contentItem:last-child {
    border-bottom: 0;
}

.content ol {
    list-style-type: none;
}

.content li.content {
    float: left;
    width: 330px;
    text-align: center;
    margin-bottom: 25px;
}

.content-list::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.post-text::first-letter {
   font-size: 45px;
}
.content-list .content .postTitle,
.content-list .content .postDate,
.content-list .content .postSubTitle {
    margin: 0;
}

.postSubTitle {
	font-size: 90%;
}

.content-list .content .postDate {
    color: #666;
}
